.container {
    max-width: 80%;
    margin: 90px auto;
    display: flex;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .left-section {
    background-color: #3c6c6e;
    color: white;
    width: 40%;
    padding: 20px;
    text-align: center;
  }
  .left-section{
    padding: 20px;
  }


  .manager-border img{
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:#3c6c6e solid;
    background-color: aliceblue;
  }
  
  .manager-info h2 {
    margin: 10px 0 5px;
  }
  
  .right-section {
    width: 60%;
    padding: 20px;
    margin: 40px;
  }

  .title {
    display: inline-block;
    padding-bottom: 5px;
    color: #3c6c6e;
    font-size: 28px;
    text-align: center;
    border-bottom: 3px solid #3c6c6e;
  }