.hero-section {
    background-image: url('/Images/School_BG.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Full viewport height */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fading effect */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-text {
    color: white;
    text-align: center;
    z-index: 1;
  }
  
  .hero-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero-text p {
    font-size: 1.5rem;
  }
  